
:before,
:after {
  content: '';
}
h1{
    color: red;
    text-align: center;
}

h2{
    color: blue;
    text-align: center;
}

/* testing drag */
.draggable {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin: 10px;
    border: 2px solid blue;
    text-align: center;
    line-height: 100px;
}
.dropzone {
    width: 200px; 
    height: 200px; 
    border: 2px dashed #333; 
    margin-top: 20px;
}

/* meat */
.meat{ /*raw meat */
    transition: all 1.5s ease;
    display:grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    border-radius: 50% / 30% 70% 25% 50%;
    width: 75px;
    height: 75px;
    background: radial-gradient(circle at 30% 30%, 
                                #ff6b6b 0%, /* Bright pinkish-red */
                                #d9534f 30%, /* Deeper red toward the center */
                                #b03a2e 60%); /* Darker red for depth */
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;

    top: 200px;
    left: 670px;
    animation-name: moveMeat;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.meat:before,
.meat:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,0.8) 10%, transparent 40%);
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.meat:before {
    transform: rotate(30deg);
    background: radial-gradient(circle at 20% 50%,
                                rgba(255,255,255,0.8) 5%,
                                transparent 30%),
                radial-gradient(circle at 80% 30%,
                                rgba(255,255,255,0.6) 5%,
                                transparent 35%);
}

.meat:after {
    transform: rotate(-30deg);
    background: radial-gradient(circle at 70% 60%,
                                rgba(255,255,255,0.7) 5%,
                                transparent 35%),
                radial-gradient(circle at 40% 20%,
                                rgba(255,255,255,0.5) 10%,
                                transparent 50%);
}
.meat:hover { /* cooked meat */
    display:grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    border-radius: 50% / 30% 70% 25% 50%;
    box-shadow:
    0 0 0 6px rgba(255,255,255,.3) inset,
    0 0 6px rgba(33,33,33,.3);
    position: absolute;
    width: 80px;
    height: 80px;

    background: #B45227;
    z-index: 1;


}
.meat:hover:before,
.meat:hover:after {
    border-radius: 45%;
    box-shadow:
    15px 0 0 0 rgba(33,33,33,.2),
    30px 0 0 0 rgba(33,33,33,.2);
    position: absolute;
    display: block;
    width: 4px;
    height: 60%;
    background: rgba(33,33,33,.2);
    }
    
.meat:hover:before {
    transform: rotate(30deg);
    top: 9px;
    left: 24px;
    }
    
.meat:hover:after {
    transform: rotate(-60deg);
    top: 30px;
    left: 30px;
    }

.meat:active { /*burnt meat */
    display:grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    border-radius: 50% / 30% 70% 25% 50%;
    width: 75px;
    height: 80px;
    background: #3b231c;
    box-shadow: 0 0 0 6px rgba(0,0,0,.6) inset,
                0 0 15px rgba(0,0,0,.5);
    position: absolute;
    z-index: 1;

}
.meat:active:before,
.meat:active:after {
    content:'';
    border-radius: 50%;
    box-shadow: 10px 0 0 0 rgba(0,0,0,.6),
                20px 0 0 0 rgba(0,0,0,.6);
    position: absolute;
    display: block;
    width: 6px;
    height: 60%;
    background: rgba(0,0,0, 0.6); /* burn marks */
}

.meat:active:before {
    transform: rotate(30deg);
    top: 15px;
    left: 30px;
}

.meat:active:after {
    transform: rotate(-30deg);
    top: 27px;
    left: 25px;
}


/* sausage */
.sausage { /* raw */
    transition: all 1.5s ease;
    display:grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    border-radius:10px;
    box-shadow:
        -6px 0 8px 0 rgba(92,0,0,.8) inset,
        2px 0 2px 0 rgba(33,33,33,.5),
        0 0 5px rgba(33,33,33,.5)
    ;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity:0;
    width: 25px;
    height: 100px;
    background: rgb(245, 86, 86);
    z-index: 1;

    animation-name: moveSausage;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.sausage:hover { /* cooked */
    display:grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    border-radius:10px;
    box-shadow:
        -6px 0 8px 0 rgba(92,0,0,.8) inset,
        2px 0 2px 0 rgba(33,33,33,.5),
        0 0 5px rgba(33,33,33,.5)
    ;
    position: absolute;
    width: 25px;
    height: 100px;
    background: rgb(136, 1, 1);
    z-index: 1;
}
.sausage:active { /* burnt */
    display:grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    border-radius:10px;
    box-shadow:
        -6px 0 8px 0 rgba(92,0,0,.8) inset,
        2px 0 2px 0 rgba(33,33,33,.6),
        0 0 5px rgba(33,33,33,.6)
    ;
    position: absolute;
    width: 25px;
    height: 100px;
    background: rgb(36, 1, 1);
    z-index: 1;
}

/* Shrimp */
.shrimp {
    transition: all 1.5s ease;
    display:grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    border-radius:60% / 30% 40% 10% 70%;
    background-image:
    radial-gradient(
        circle at center right,
        transparent 67%,
        #e45f17 68%,
        #ee8b56 74%,
        #ee8b56 85%,
        rgba(33,33,33,.2) 86%,
        transparent 90%
    );
    position: absolute;
    top: 400px;
    left: 670px;
    display: block;
    width: 86px;
    height: 70px;
    z-index: 1;

    opacity: 0;
    animation-name: moveShrimp;
    animation-duration:3s;
    animation-delay: 6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.shrimp:before {
    transform:rotate(24deg);
    border-radius:85% 85% 50% 50% / 120% 120% 50% 50%;
    box-shadow:
        1px -35px 0 -7px #ee8b56,
        0 -36px 1px -7px rgba(33,33,33,.2),
        5px -23px 0 -8px #ee8b56,
        5px -23px 1px -7px rgba(33,33,33,.2),
        0 -2px 0 0 rgba(222,222,222,.3) inset,
        -2px 1px 2px rgba(33,33,33,.2)
        ;
    position: absolute;
    top: -24px;
    left: 15px;
    display: block;
    width: 18px;
    height: 45px;
    background: #ee8b56;
}
.shrimp:after {
    border-radius:50%;
    background-image:
    radial-gradient(
        circle at top center,
        #ee8b56 35%,
        transparent 36%
    ),
    radial-gradient(
        circle at center left,
        #ee8b56 27%,
        #ee7c3f 37%,
        transparent 38%
    )
    ;
    box-shadow:
        -13px -86px 0 -9px rgba(222,222,222,.5),
        -14px -85px 0 -7px rgb(33,33,33)
    ;
    position: absolute;
    top: 60px;
    left: 25px;
    display: block;
    width: 22px;
    height: 22px;
}
.shrimp:hover {
    display:grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    border-radius:60% / 30% 40% 10% 70%;
    background-image:
    radial-gradient(
        circle at center right,
        transparent 67%,
        #CC4A04 68%,
        #EF6921 74%,
        #EF6921 85%,
        rgba(33,33,33,.2) 86%,
        transparent 90%
    );
    position: absolute;
    display: block;
    width: 86px;
    height: 70px;
    z-index: 1;

}
.shrimp:hover:before {
    transform:rotate(24deg);
    border-radius:85% 85% 50% 50% / 120% 120% 50% 50%;
    box-shadow:
        1px -35px 0 -7px #EF6921,
        0 -36px 1px -7px rgba(33,33,33,.2),
        5px -23px 0 -8px #EF6921,
        5px -23px 1px -7px rgba(33,33,33,.2),
        0 -2px 0 0 rgba(222,222,222,.3) inset,
        -2px 1px 2px rgba(33,33,33,.2)
        ;
    position: absolute;
    top: -24px;
    left: 15px;
    display: block;
    width: 18px;
    height: 45px;
    background: #EF6921;
}
.shrimp:hover:after {
    border-radius:50%;
    background-image:
    radial-gradient(
        circle at top center,
        #EF6921 35%,
        transparent 36%
    ),
    radial-gradient(
        circle at center left,
        #EF6921 27%,
        #CC4A04 37%,
        transparent 38%
    )
    ;
    box-shadow:
        -13px -86px 0 -9px rgba(222,222,222,.5),
        -14px -85px 0 -7px rgb(33,33,33)
    ;
    position: absolute;
    top: 60px;
    left: 25px;
    display: block;
    width: 22px;
    height: 22px;
}
.shrimp:active {
    display:grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    border-radius:60% / 30% 40% 10% 70%;
    background-image:
    radial-gradient(
        circle at center right,
        transparent 67%,
        #331201 68%,
        #572002 74%,
        #572002 85%,
        rgba(33,33,33,.2) 86%,
        transparent 90%
    );
    position: absolute;
    display: block;
    width: 86px;
    height: 70px;
    z-index: 1;
}
.shrimp:active:before {
    transform:rotate(24deg);
    border-radius:85% 85% 50% 50% / 120% 120% 50% 50%;
    box-shadow:
        1px -35px 0 -7px #572002,
        0 -36px 1px -7px rgba(33,33,33,.2),
        5px -23px 0 -8px #572002,
        5px -23px 1px -7px rgba(33,33,33,.2),
        0 -2px 0 0 rgba(222,222,222,.3) inset,
        -2px 1px 2px rgba(33,33,33,.2)
        ;
    position: absolute;
    top: -24px;
    left: 15px;
    display: block;
    width: 18px;
    height: 45px;
    background: #572002;
}
.shrimp:active:after {
    border-radius:50%;
    background-image:
    radial-gradient(
        circle at top center,
        #572002 35%,
        transparent 36%
    ),
    radial-gradient(
        circle at center left,
        #572002 27%,
        #270f02 37%,
        transparent 38%
    )
    ;
    box-shadow:
        -13px -86px 0 -9px rgba(222,222,222,.5),
        -14px -85px 0 -7px rgb(33,33,33)
    ;
    position: absolute;
    top: 60px;
    left: 25px;
    display: block;
    width: 22px;
    height: 22px;
}

.mushroom {
    z-index: 99;
    transition: all 1.5s ease;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;

    position: absolute;
    width: 30px;
    height: 60px;
    background-color: #e0d5b9; 
    border-radius: 15px;

    top: 400px;
    left: 850px;
    opacity: 0;
    animation-name: moveMushroom;
    animation-duration: 3s;
    animation-delay: 9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.mushroom:before, .mushroom:after {
    transition: all 1.5s ease;
    content:"";
    background-color: #b5824d; 
    border-radius: 50% 50% 0 0; 
    top: -20px; 
    width: 50px; 
    height: 35px; 
    position: absolute;
}
.mushroom:before {
    left: -10px;
}

.mushroom:hover {
    background-color: #c3c9c1;
}
.mushroom:hover:before,.mushroom:hover:after{
    background-color: #5a0e0e;
    border-radius: 80% 0 0 10%;
    top: -20px;
    right: 16px;
    width: 35px;
    height: 35px;
}
.mushroom:hover:before{
    right:3px;
}
.mushroom:hover:after{
    transform: scaleX(-1);
    left: 7px;
}

.mushroom:active {
    background-color: #1b1a1a;
}
.mushroom:active:before, .mushroom:active:after{
    background-color: #222222;
    border-radius: 80% 0 0 10%;
    top: -20px;
    right: 16px;
    width: 35px;
    height: 35px;
}
.mushroom:active:before{
    right: 3px;
}
.mushroom:active:after{
    transform: scaleX(-1);
    left: 7px;
}


/* animations */
@keyframes moveMeat{
    0%{left: 0px; top: 0px; opacity: 0;}
    100%{left: 850; top: 190; opacity: 100%;}
}
@keyframes moveShrimp{
    0%{left: 0px; top:0px; opacity: 0;}
    100%{left:670px; top: 400px; opacity: 100%}
}
@keyframes moveSausage{
    0%{left:0px; top:0px;opacity: 0;}
    100%{left: 850px; top: 190px;opacity: 100%;}
}
@keyframes moveMushroom{
    0%{left:0px; top:0px; opacity: 0;}
    100%{left: 850px; top:400px; opacity: 100%;}
}
@keyframes testAnimation{
    0% {background-color: red;left: 0px; top: 0px;}
    25% {background-color: yellow; left: 200px; top: 0px;}
    50% {background-color: blue; left: 0px; top: 200px;}
    100% {background-color: green; left:0px; top:0px;}
}

.grillShape{
    position: absolute;
    width:400px;
    height:400px;
    border: 10px solid;
    top:calc(50% -315px);
    left: calc(50% - 200px);
}
/* .testing{
    width: 100px;
    height: 60px;
    background-color: #fc0000;
    border-radius: 500% 0 150% 5%;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%);
    position: absolute;
    animation-name: testAnimation;
    animation-duration: 4s;
    animation-iteration-count: 9;

}  */
/* .testing:before{
    transform:scaleX(-1);

    width: 100px;
    height: 60px;
    border-radius: 50% 0 0 0;
    position: absolute;
    background-color: #000000;
} */
